@import '../../variables.scss';

.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  background: url(/assets/card-background.jpg);

  border: 1px inset $black;
  border-radius: 15px;

  // font-size: 20px;

  cursor: pointer;

  .word {
    margin: 0;
    padding: 0;
    display: flex;
    text-shadow: 0 0 5px $white;
  }
}
