<div class="row" *ngFor="let cardRow of cards">
  <div
    class="card"
    *ngFor="let card of cardRow"
    [ngStyle]="{ width: cardSize + 'px', height: cardSize + 'px', background: card }"
  ></div>
</div>

<div class="form-group">
  <label><b>Gib deinen nächsten Begriff ein:</b></label>
</div>
<div class="form-group">
  <input [(ngModel)]="term" maxlength="32" />
  <input type="number" [(ngModel)]="amount" min="0" max="8" />
</div>
<div class="form-group active" *ngIf="termDenied">
  Dein Begriff wurde nicht akzeptiert.
</div>
<div class="form-group">
  <button (click)="requestTerm()">Anfragen</button>
</div>
<br />