<div class="row" *ngFor="let colorRow of colors">
  <div
    class="color"
    *ngFor="let color of colorRow"
    [ngStyle]="{ width: colorSize + 'px', height: colorSize + 'px', background: color }"
  ></div>
</div>

<div class="form-group">
  <label><b>Gib deinen nächsten Begriff ein:</b></label>
</div>
<div class="form-group">
  <input [(ngModel)]="term" maxlength="32" />
  <input type="number" [(ngModel)]="amount" min="0" max="8" />
</div>
<div class="form-group active" *ngIf="termDenied">
  Dein Begriff wurde nicht akzeptiert.
</div>
<div class="form-group">
  <button (click)="requestTerm()">Anfragen</button>
</div>
<br />