<div class="container">
  <div class="session">{{ _activeSession?.name }}</div>

  <div class="active-team" *ngIf="activeTeam !== ''">
    Team {{ activeTeam }} ist dran.
  </div>

  <div class="team" *ngFor="let team of _activeSession?.teams">
    <div class="team-info">
      <div class="team-color" [ngStyle]="{ background: team.color }"></div>
      <div class="team-meta">
        <div class="team-meta-line"><b>Team {{ team.name }}</b></div>
        <div class="team-meta-line">Noch {{ remainingCards[team.name] }} Karten übrig</div>
      </div>
    </div>

    <ul>
      <li *ngFor="let player of team.players">
        <span [ngClass]="{ 'active-player': player.active }">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          {{ player.name }}
        </span>
      </li>
    </ul>
  </div>

  <button class="active-player-request" *ngIf="!iAmActivePlayer" (click)="requestActivePlayer()">Ich möchte Begriffe erklären.</button>

  <button *ngIf="!exchangeCards" (click)="exchangeCards = true">Begriffe tauschen...</button>
  <button *ngIf="exchangeCards" (click)="exchangeCards = false">Begriffe tauschen beenden</button>

  <button class="leave-session" (click)="leaveSession()">Session verlassen</button>
</div>
