<h1>Alias Game</h1>

<ng-container *ngIf="page === 'welcome'">
  <div class="menu-buttons">
    <button (click)="page = 'create game'">Neues Spiel erstellen</button>
    <button (click)="page = 'join game'">Einem Spiel beitreten</button>
  </div>
</ng-container>

<div class="create-game" *ngIf="page === 'create game'">
  <h2>Erstelle ein neues Spiel</h2>

  <div class="form-group">
    <label>Gib einen Session-Namen ein</label>
    <input [(ngModel)]="session.name" type="text" maxlength="16" placeholder="Friday Fun" />
  </div>
  <div class="form-group">
    <label>Größe des Spielfelds</label>
    <select [(ngModel)]="selectedBoardSize">
      <option *ngFor="let size of boardSizes">{{ size }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Wähle ein Thema</label>
    <select [(ngModel)]="selectedTheme">
      <option *ngFor="let theme of themes">{{ theme.name }}</option>
    </select>
  </div>
  <div class="form-group">
    <label>Name des 1. Teams</label>
    <input [(ngModel)]="session.teamOneName" type="text" maxlength="16" placeholder="Team A" />
  </div>
  <div class="form-group">
    <label>Farbe des 1. Teams</label>
    <input class="color-picker" [(colorPicker)]="session.teamOneColor" [style.background]="session.teamOneColor" />
  </div>
  <div class="form-group">
    <label>Name des 2. Teams</label>
    <input [(ngModel)]="session.teamTwoName" type="text" maxlength="16" placeholder="Team B" />
  </div>
  <div class="form-group">
    <label>Farbe des 2. Teams</label>
    <input class="color-picker" [(colorPicker)]="session.teamTwoColor" [style.background]="session.teamTwoColor" />
  </div>
  <div class="form-group">
    <button (click)="createSession()">Spiel erstellen</button>
    <button (click)="page = 'welcome'">Abbrechen</button>
  </div>
</div>

<ng-container *ngIf="page === 'join game'">
  <h2>Nimm an einem Spiel teil</h2>
</ng-container>

<div class="game" *ngIf="page === 'play'">
  <app-players></app-players>
  <app-board [horizontal]="horizontal" [vertical]="vertical" [wordCategory]="selectedTheme"></app-board>
  <app-code-sheet></app-code-sheet>
</div>
