@import 'variables.scss';

body {
  background: url(assets/background.jpg);
  background-size: cover;
  font-family: 'Baloo Bhaina 2', cursive;
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  margin: 20px 0;
  color: #222;
}

button {
  font-family: 'Baloo Bhaina 2', cursive;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  box-shadow: 0 0 5px $black;
  border: none;
}
